<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="SIC">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>SIC</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
        <log type="junit" target="logfile.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>